@use '../util' as *;

.message {
  margin: rem(50) 0;

  &__table {
    border-collapse: collapse;
    width: 100%;

    th,
    td {
      padding: 10px;
    }
  }
}

.portfolio {

  &__content {
    display: flex;
    justify-content: space-between;
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;

  * {
    width: rem(300);
  }
}