@use '../util' as *;

.company {
  background-color: var(--brand);
  text-transform: uppercase;
  overflow: hidden;
  padding: 10px 0;
  transform: translateX(-4px) rotate(2deg);
  width: 101%;

  &__text {
    margin: 10px 0;
    font-size: 70px;
    font-weight: 700;
    font-family: fantasy;
    animation: move 10s linear infinite alternate;

    &--reverse {
      animation-direction: alternate-reverse;
    }
  }

  @keyframes move {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-50%);
    }
  }
}