@use '../util' as *;

.feedback {
  &__inner {
    color: var(--white);
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
  }

  &__bg {
    border-radius: 5%;
    height: 600px;
    filter: blur(rem(5));
    background: url('../images/content/feedback.png') no-repeat 50% 50% / contain fixed;
  }

  form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-wrap: wrap;
    font-size: 20px;

    >* {
      width: 100%;
      margin: 20px;
      border-width: 0;
      box-shadow: none;
      border-radius: 50px;
      padding: 25px;
      background-color: hsla(0, 0%, 100%, .5);

      &::placeholder {
        color: #fff;
        font-size: 14px;
        font-family: var(--font-body);
      }
    }
  }
}