@use '../util' as *;

.footer {
  text-align: center;
  color: var(--gray);
  padding: 20px 0;
  filter: invert(1);

  &__content {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &+& {
      margin-top: rem(60);
    }
  }

  &__inner {
    padding: rem(30) 0;
    background-color: var(--white);
  }

  li {
    padding: rem(5) 0;
  }

  p {
    margin-top: rem(80);
  }
}