@use '../util' as *;

.header {
  background-color: #fff;
  position: absolute;
  width: 100%;
  z-index: 1;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu ul {
    display: flex;
    align-items: center;

    li+li {
      margin-left: 20px;
    }
  }
}