@use '../util' as *;

.header {
  background-color: rgba(150, 150, 150, .9);
  position: absolute;
  padding: 20px 0;
  width: 100%;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu ul {
    display: flex;
    align-items: center;

    li+li {
      margin-left: 20px;
    }
  }
}