@use '../util' as *;

.header {

  .menu ul {
    display: flex;
    align-items: center;
    justify-content: right;

    li+li {
      margin-left: 20px;
    }

    a:not(.btn) {
      display: block;
      padding: rem(30) 0;
      transition: .3s;

      &:hover {
        box-shadow: 0 rem(-10) 0 var(--brand) inset;
      }
    }
  }
}