@use '../util' as *;

.hero {
  min-height: rem(875);
  font-size: rem(40);
  background-color: var(--black);
  color: var(--white);
  margin-bottom: rem(200);
  position: relative;
  z-index: -2;

  @include breakpoint-down(medium) {
    min-height: rem(700);

    &__inner {
      text-align: center;
      margin: 0 auto;
    }
  }

  &__inner {
    max-width: rem(500);
    transform: translateY(50%);

    p {
      color: var(--gray-400);
      font-size: rem(24);
    }
  }
}