@use '../util' as *;

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('https://phonoteka.org/uploads/posts/2021-06/1624355307_45-phonoteka_org-p-oboi-dlya-ofisa-krasivo-48.png') no-repeat 50% / cover fixed;
  text-align: center;
  min-height: 100vh;
  font-size: 40px;
  color: var(--white);

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, .7);
  }
}