@use '../util' as *;

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('https://i.pinimg.com/originals/dd/53/f3/dd53f393d6983693d6bedb55f2e36ca0.jpg') no-repeat 50% / cover;
  text-align: center;
  min-height: 100vh;
  font-size: 40px;
  color: #fff;

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, .7);
  }
}