@use '../util' as *;

.job {

  &__inner {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    border-radius: rem(10);
    border: rem(2) solid;
    max-width: rem(250);
    margin: rem(20) rem(10) rem(10);
    padding: rem(25);
    transition: .3s ease-in-out;

    &:hover {
      box-shadow: 0 0 rem(50) var(--gray);
    }
  }

  &__item &__subtitle {
    font-size: rem(14);
  }
}