@use '../util' as *;

main {
  padding-top: rem(240);

  .aside {

    &__box {
      margin-top: rem(60);

      h3 {
        margin-bottom: rem(20);
      }

      label {
        display: flex;
        padding: rem(10) 0;
      }

      input[type=checkbox] {
        display: block;
        box-shadow: none;
        margin-right: rem(10);
      }
    }
  }
}