@use '../util' as *;

.search {
  display: flex;
  justify-content: space-between;
}

.aside {
  padding-right: rem(80);

  &__box {
    margin-top: rem(60);

    h3 {
      margin-bottom: rem(20);
    }

    label {
      display: flex;
      padding: rem(10) 0;
    }

    input[type=checkbox] {
      display: block;
      box-shadow: none;
      margin-right: rem(10);
    }
  }
}

.article {

  &__box {
    display: block;
    padding: rem(20);
    border-radius: rem(20);
    border: 1px solid var(--gray);
    margin-bottom: rem(40);
    cursor: pointer;

    div:last-child {
      display: flex;
      align-items: center;

      *+* {
        margin-left: rem(20);
      }
    }

    .price {
      float: right;
    }

    .search {
      opacity: .5;
    }
  }
}

.avatar {
  display: flex;
  align-items: center;
  margin-bottom: rem(25);

  img {
    width: rem(75);
    height: rem(75);
    border-radius: 50%;
    margin-right: rem(25);
  }

  h2 {
    margin: 0;
  }
}