@font-face {
	font-family: Despairs;
	src: url('../assets/fonts/despairs.ttf') format('truetype');
}

:root {
	--font-brand: Despairs;
	--font-body: Arial, sans-serif;

	--transition-min: .3s ease-in-out;
	--transition-max: 1.2s ease-in;
}