@font-face {
	font-family: Despairs;
	src: url('../assets/fonts/despairs.ttf') format('truetype');
}

:root {
	--transition: .3s ease-in-out;
	--font-body: Arial, sans-serif;
	--font-brand: Despairs;
}