@use '../util' as *;

h1,
h2,
h3 {
	margin: 0 0 40px;
	line-height: 1.1;
}

li {
	list-style-type: none;
}

a,
a:visited,
a:active {
	text-decoration: none;
	color: #000;
}

a:hover:not(.logo) {
	text-decoration: underline;
}

input {
	border: none;
	padding: 10px 80px 10px 20px;
}

.logo {
	padding: 20px;
	font-size: 30px;
	font-weight: 700;
	overflow: hidden;
	text-transform: uppercase;
	transition: .3s ease-in-out;

	&:hover {
		color: #fff;
		text-shadow: 0 0 50px #fff;
		background: #000;
	}

	span {
		color: orange;
	}
}