@use '../util' as *;

h1,
h2,
h3 {
	margin: 0 0 rem(40);
	line-height: 1.1;
	position: relative;
}

h1 {
	font-size: rem(75);
	text-transform: uppercase;
}

h2 {
	font-size: rem(40);
}

h3 {
	font-size: rem(20);
}

.subtitle {
	font-size: rem(24);
	opacity: .6;
}

p {
	font-size: rem(18);
	opacity: .6;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: var(--black);
}

input:not([type="radio"]),
textarea {
	box-shadow: 0 rem(3) 0 var(--gray);
	border: rem(2) solid var(--gray);
	padding: rem(12) rem(80) rem(12) rem(20);
	border-radius: rem(10);
	resize: none;
}

.hidden {
	display: none;
}

.btn,
input[type=submit] {
	font-size: rem(18);
	font-weight: 700;
	display: inline-flex;
	align-items: center;
	overflow: hidden;
	color: var(--brand);
	background-color: transparent;
	border: rem(2) solid var(--brand);
	padding: rem(5) rem(20);
	border-radius: rem(10);
	transition: .4s;
	box-shadow: none;
	cursor: pointer;

	img {
		position: relative;
		transition: .4s;
		left: rem(70);
	}

	&:hover {
		color: var(--black);
		background-color: var(--brand);

		img {
			left: rem(8);
		}
	}
}

.logo {
	padding: rem(25);
	font-size: rem(30);
	font-weight: 700;
	text-transform: uppercase;
	position: fixed;
	z-index: 3;
	color: var(--white);
	background: var(--black);

	&::after {
		content: '';
		width: 100%;
		height: rem(40);
		transition: .3s;
		background-color: var(--black);
		position: absolute;
		top: rem(65);
		left: 0;
		z-index: -1;
		clip-path: polygon(50% 50%, 100% 100%, 100% 0, 0 0, 0 100%);
	}

	&:hover::after {
		top: rem(75);
	}
}

span {
	color: var(--brand);
}